div#app {
  max-width: 300px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #999;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.input-wrap {
  margin-bottom: 10px;
}
.notice {
  font-size: 14px;
}
#elemUl {
  li {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    &:not(:nth-of-type(1)) {
      border-top: none;
    }
    span {
      cursor: pointer;
      &.title {
        width: 85%;
        padding-left: 10px;
        font-size: 14px;
      }
      &.close {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        width: 15%;
      }
    }
  }
}
.detail {
  margin-top: 20px;
  display: none;

}